.icon-style{
  
  color: #737373;
  
}

.sidebar-item {
  text-decoration: none;
  
  
}
.list-style{
  list-style-type: none;
  display:inline;

}
.list-style a {
  text-decoration: none;
  color: #444444;

}

.list-style li{
  padding-bottom: 0.4em;

}
.list-style li:hover{
  background-color: #d9d9d9;
}